/*
 * Copyright (c) 2021 Rafael Yumagulov
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include "../zmk-helpers/include/zmk-helpers/helper.h"
#include "../zmk-helpers/include/zmk-helpers/key-labels/42.h"
#include "../zmk-helpers/include/zmk-helpers/unicode-chars/french.dtsi"
#include "./keymap_french.h"

#define DEF 0
#define NUM 1
#define SYM 2
#define ADJ 3

&lt { quick_tap_ms = <200>; };

&mt { quick_tap_ms = <200>; };

// accentuated chars
ZMK_BEHAVIOR(a_with_circumflex, macro,
	wait-ms = <0>;
	tap-ms = <5>;
	bindings = <&kp FR_CIRC &kp FR_A>;
)

ZMK_BEHAVIOR(ht_a_circ, hold_tap,
       flavor = "tap-preferred";
       tapping-term-ms = <175>;
       global-quick-tap;
       bindings = <&a_with_circumflex>, <&kp>;
)

ZMK_BEHAVIOR(e_with_circumflex, macro,
	wait-ms = <0>;
	tap-ms = <5>;
	bindings = <&kp FR_CIRC &kp FR_E>;
)

ZMK_BEHAVIOR(ht_e_circ, hold_tap,
       flavor = "tap-preferred";
       tapping-term-ms = <175>;
       global-quick-tap;
       bindings = <&e_with_circumflex>, <&kp>;
)

ZMK_BEHAVIOR(e_with_diaeresis, macro,
	wait-ms = <0>;
	tap-ms = <5>;
	bindings = <&kp FR_DIAE &kp FR_E>;
)

ZMK_BEHAVIOR(ht_e_diae, hold_tap,
       flavor = "tap-preferred";
       tapping-term-ms = <175>;
       global-quick-tap;
       bindings = <&e_with_diaeresis>, <&kp>;
)

ZMK_BEHAVIOR(u_with_circumflex, macro,
	wait-ms = <0>;
	tap-ms = <5>;
	bindings = <&kp FR_CIRC &kp FR_U>;
)

ZMK_BEHAVIOR(ht_u_circ, hold_tap,
       flavor = "tap-preferred";
       tapping-term-ms = <175>;
       global-quick-tap;
       bindings = <&u_with_circumflex>, <&kp>;
)

ZMK_BEHAVIOR(u_with_diaeresis, macro,
	wait-ms = <0>;
	tap-ms = <5>;
	bindings = <&kp FR_DIAE &kp FR_U>;
)

ZMK_BEHAVIOR(ht_u_diae, hold_tap,
       flavor = "tap-preferred";
       tapping-term-ms = <175>;
       global-quick-tap;
       bindings = <&u_with_diaeresis>, <&kp>;
)

ZMK_BEHAVIOR(i_with_circumflex, macro,
	wait-ms = <0>;
	tap-ms = <5>;
	bindings = <&kp FR_CIRC &kp FR_I>;
)

ZMK_BEHAVIOR(ht_i_circ, hold_tap,
       flavor = "tap-preferred";
       tapping-term-ms = <175>;
       global-quick-tap;
       bindings = <&i_with_circumflex>, <&kp>;
)

ZMK_BEHAVIOR(i_with_diaeresis, macro,
	wait-ms = <0>;
	tap-ms = <5>;
	bindings = <&kp FR_DIAE &kp FR_I>;
)

ZMK_BEHAVIOR(ht_i_diae, hold_tap,
       flavor = "tap-preferred";
       tapping-term-ms = <175>;
       global-quick-tap;
       bindings = <&i_with_diaeresis>, <&kp>;
)

ZMK_BEHAVIOR(o_with_circumflex, macro,
	wait-ms = <0>;
	tap-ms = <5>;
	bindings = <&kp FR_CIRC &kp FR_O>;
)

ZMK_BEHAVIOR(ht_o_circ, hold_tap,
       flavor = "tap-preferred";
       tapping-term-ms = <175>;
       global-quick-tap;
       bindings = <&o_with_circumflex>, <&kp>;
)

// open / close brackets
ZMK_BEHAVIOR(parentheses, macro,
	wait-ms = <0>;
	tap-ms = <5>;
	bindings = <&kp FR_LPRN>, <&kp FR_RPRN>, <&kp LEFT_ARROW>;
)
ZMK_BEHAVIOR(squarebrackets, macro,
	wait-ms = <0>;
	tap-ms = <5>;
	bindings = <&kp FR_LBRC>, <&kp FR_RBRC>, <&kp LEFT_ARROW>;
)
ZMK_BEHAVIOR(curlybrackets, macro,
	wait-ms = <0>;
	tap-ms = <5>;
	bindings = <&kp FR_LCBR>, <&kp FR_RCBR>, <&kp LEFT_ARROW>;
)
ZMK_BEHAVIOR(backticks, macro,
	wait-ms = <0>;
	tap-ms = <5>;
	bindings = <&kp RA(N7)>, <&kp RA(N7)>, <&kp LEFT_ARROW>;
)
ZMK_BEHAVIOR(dbquotes, macro,
	wait-ms = <0>;
	tap-ms = <5>;
	bindings = <&kp FR_DQUO>, <&kp FR_DQUO>, <&kp LEFT_ARROW>;
)
ZMK_BEHAVIOR(sgquotes, macro,
	wait-ms = <0>;
	tap-ms = <5>;
	bindings = <&kp FR_QUOT>, <&kp FR_QUOT>, <&kp LEFT_ARROW>;
)

// Lower , Upper ? Hold ° Double #
ZMK_BEHAVIOR(custo_comm, tap_dance,
    tapping-term-ms = <175>;
    bindings = <&mt FR_DEG FR_COMM>, <&kp FR_HASH>;
)

// Lower ; Upper . Hold & Double @
ZMK_BEHAVIOR(custo_scln, tap_dance,
    tapping-term-ms = <175>;
    bindings = <&mt FR_AMPR FR_SCLN>, <&kp FR_AT>;
)

// Lower : Upper / Hold | Double \ (backslash)
ZMK_BEHAVIOR(custo_coln, tap_dance,
    tapping-term-ms = <175>;
    bindings = <&mt FR_PIPE FR_COLN>, <&kp FR_BSLS>;
)

// Lower ! Upper § Hold _ Double ~
ZMK_BEHAVIOR(custo_exlm, tap_dance,
    tapping-term-ms = <175>;
    bindings = <&mt FR_SECT FR_EXLM>, <&kp FR_TILD>;
)

/ {
    chosen {
        zmk,matrix_transform = &default_transform;

        // zmk,matrix_transform = &extra_keys_transform;
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&mt LGUI FR_SUP2   &mt FR_AGRV FR_A     &mt FR_EACU FR_Z     &kp FR_E          &mt FR_EGRV FR_R     &kp FR_T        &kp FR_Y             &mt FR_UGRV FR_U  &ht_i_circ &kp FR_I  &ht_o_circ &kp FR_O  &kp FR_P     &none
&mt LCTRL FR_QUOT  &ht_a_circ &kp FR_Q  &ht_e_circ &kp FR_S  &kp FR_D          &ht_e_diae &kp FR_F  &kp FR_G        &ht_u_circ &kp FR_H  &kp FR_J          &ht_u_diae &kp FR_K  &ht_i_diae &kp FR_L  &kp FR_M     &mt RCTRL FR_0
&mt LALT FR_LABK   &kp FR_W             &kp FR_X             &mt FR_CCED FR_C  &kp FR_V             &kp FR_B        &kp FR_N             &custo_comm       &custo_scln          &custo_coln          &custo_exlm  &mt RALT FR_0
                                                             &lt SYM TAB       &mt LSHFT SPACE      &lt NUM RET     &lt NUM ESC          &mt RSHFT BSPC    &lt SYM DEL
            >;
        };

        number_layer {
            bindings = <
&mt LGUI FR_0   &none  &kp FR_EQL   &kp FR_PLUS  &kp FR_MINS  &kp FR_EURO     &none     &kp FR_7  &kp FR_8  &kp FR_9  &none  &none
&mt LCTRL FR_0  &none  &kp FR_PERC  &kp FR_ASTR  &kp FR_SLSH  &kp FR_DLR      &none     &kp FR_4  &kp FR_5  &kp FR_6  &none  &mt RCTRL FR_0
&mt LALT FR_0   &none  &kp FR_CURR   &kp FR_DOT   &kp FR_COMM  &kp FR_PND      &none     &kp FR_1  &kp FR_2  &kp FR_3  &none  &mt RALT FR_0
                                    &lt ADJ TAB  &trans       &trans          &trans    &kp FR_0  &lt ADJ DEL
            >;
        };

        symbol_layer {
            bindings = <
&mt LGUI FR_0   &parentheses     &dbquotes   &none  &none  &kp C_BRI_UP       &kp C_VOL_UP  &kp HOME  &kp UP_ARROW     &kp PG_UP  &kp SLCK         &kp CLCK
&mt LCTRL FR_0  &squarebrackets  &sgquotes   &none  &none  &kp C_BRI_MIN      &kp C_MUTE    &kp LEFT  &kp DOWN         &kp RIGHT  &kp INS          &mt RCTRL K_APP
&kp LALT        &curlybrackets   &backticks  &none  &none  &kp C_BRI_DN       &kp C_VOL_DN  &kp END   &kp PRINTSCREEN  &kp PG_DN  &kp PAUSE_BREAK  &kp RALT
                                             &trans     &trans     &lt ADJ RET      &lt ADJ ESC   &trans    &trans
            >;
        };

        adjust_layer {
            bindings = <
&bootloader  &none         &none         &none         &none         &none         &none         &none         &none         &none         &none         &bootloader
&bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &bt BT_CLR
&sys_reset   &none         &none         &none         &none         &none         &none         &none         &none         &none         &none         &sys_reset
                                         &trans        &none         &trans        &trans        &none         &trans
            >;
        };
    };
};
